@use '../../custom' as *;

.footer_bottom {
  padding: 40px 0;
  background-color: #151515;

  border-top: 1px solid $gray-700;
  border-width: 80%;

  p {
    a {
      color: $white;
      transition: 0.3s;

      &:hover {
        color: $primary;
      }
    }
    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }
  }

  .footer_menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    padding-left: 0;

    li {
      margin-right: 40px;
      position: relative;

      &:not(:first-child)::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $primary;
        left: -23px;
        top: 50%;
        transform: translateY(-50%);
      }

      a {
        color: $white;
        font-size: 15px;
        transition: 0.3s;

        &:hover {
          color: $primary;
        }
      }
    }

    @include media-breakpoint-down(lg) {
      justify-content: flex-start;
    }
  }
}
