@use '../custom' as *;

@mixin buttons {
  background-color: $primary;
  color: $white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-border-radius: 5px;
  &:hover {
    background-color: $secondary;
  }
}
